# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.YourArt.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\YourArt\YourArt\.idea\.idea.YourArt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
